[submodule "assets"]
    update = merge
    branch = main
	path = assets
	url = https://github.com/ztlevi/dotty-assets.git
[submodule "config"]
    update = merge
    branch = main
	path = config
	url = https://github.com/ztlevi/dotty-config.git
